# Dependencies
markdown:         redcarpet
highlighter:      pygments

# Permalinks
permalink:        pretty
relative_permalinks: true


# Setup
title:               Fuel Cell Industry Analysis Report
tagline:             '2015'
description:         'Start browsing through the different parts of the report'
url:                 https://BambuGMS.github.io/Industry-Analysis-Report
baseurl:             ""
paginate:            10

# About/contact
author:
  name:              Mark Otto
  url:               https://twitter.com/mdo
  email:             markdotto@gmail.com

# Custom vars
version:             1.0.0

github: 
  repo: https://github.com/BambuGMS/Industry-Analysis-Report
